/* variables.scss */
:root {
  --primary-color: #0984e3;
  --background-color: #ffffff;
  --grey-text-color: #b2bec3;
  --text-color: #2d3436;
  --hover-color: #00a8ff;
  --footer-background-color: #f1f1f1;
  --home-background-color: rgba(255, 255, 255, 0.9);
  --button-text-color: #ffffff;
  --box-shadow-color: rgba(0, 0, 0, 0.1)
}
