@import "../../styles/variables";

.education-section {
    background: var(--background-color);
    color: var(--text-color);
    padding: 4rem 2rem;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 4px 20px var(--box-shadow-color);
    max-width: 2000px;
    margin: 4rem auto;
    width: 90%;
}

.education-content h2 {
    font-size: 2.8rem;
    margin-bottom: 2rem;
    color: var(--primary-color);
    text-transform: uppercase;
}

.education-item {
    display: flex;
    align-items: flex-start;
    padding: 2rem 0;
    position: relative;
    margin-bottom: 4rem;
    width: 100%;
    position: relative;
}

.education-content-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin-left: 40px; 
}

.education-icon {
    background-color: var(--primary-color);
    color: var(--button-text-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    box-shadow: 0 4px 10px var(--box-shadow-color-2);
    flex-shrink: 0;
}


.education-item::before {
    content: '';
    position: absolute;
    left: 20px;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: var(--primary-color);
}

.education-details {
    text-align: left;
    flex-grow: 1;
}

.education-details h4 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: var(--text-color);
    margin-top: 0;
}

.education-details p {
    font-size: 1.1rem;
    color: var(--text-color);
    line-height: 1.6;
    margin: 0.5rem 0;
}

.education-details .duration {
    font-style: italic;
    color: var(--grey-text-color);
    margin-bottom: 1rem;
}


@media (max-width: 768px) {
    .education-content-wrapper {
        flex-direction: row; 
        align-items: center; 
        justify-content: flex-start; 
    }

    .education-icon {
        margin-left: 20px; 
    }

    .education-item::before {
        left: 0; 
    }

    .education-content-wrapper {
        margin-left: 0; 
    }
}
